<div class="navbar">
  <div class="logo">rent a techy</div>
  <div class="search"> search </div>
  <nav class="nav">
    <%= link_to 'Sign Up', '/', class: "button button-primary" %>
    <%= link_to 'Sign In', '/', class: "button button-text" %>
  </nav>
</div>