// Define variables for your color scheme

// For example:
$red: #e40004;
$blue: #165ffb;
$yellow: #ffb835;
$orange: #d46300;
$green: #00a00d;
$gray-dark: #202020;
$gray-med: #949494;
$gray-light: #e7e7e7;
$gray-lighter: #eeeeee;
$gray-lightest: #f3f3f3;
