.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.items-end {
  align-items: flex-end;
}