// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
// Define fonts for body and headers
$body-font: 'Roboto', sans-serif;
$headers-font: 'Montserrat', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";


.text-xs {
  font-size: 0.75rem;
}

.text-s {
  font-size: 0.875rem;
}

.text-m {
  font-size: 1rem;
}

.text-l {
  font-size: 1.25rem;
}

.text-xl {
  font-size: 1.5rem;
}

.text-xxl {
  font-size: 2rem;
}

.text-dark {
  color: $gray-dark;
}
.text-med {
  color: $gray-med;
}
.text-light {
  color: $gray-light;
}

.text-bold {
  font-weight: 700;
}
.text-boldest {
  font-weight: 900;
}
.text-regular {
  font-weight: 400;
}
.text-thin {
  font-weight: 200;
}

.text-center {
  text-align: center;
}