/*
  BANNER
*/
#banner {
  height: 800px;
  width: 100%;
  padding-left: 50px;
  // align headlines
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // background image
  background-image: url("banner.jpg");
  background-size: cover;
  //font colours
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);

  h1 {
    font-size: 70px;
  }
  a {
    text-shadow: none;
  }


}


/*
  RECENT OFFERS
*/
#recent {
  width: 100%;
  margin-top: 70px;

  h3 {
    text-align: center;
    margin-bottom: 15px;
  }

  #con {
    display: flex;
    justify-content: space-evenly;
  }
}

/*
  REVIEW
*/
#review {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;

  h3 {
    font-style: italic;
  }
}



