<h1>My bookings</h1>

<ol>
  <% @bookings.each do |booking| %>
    <%= render 'components/offer_card', offer: booking.offer %>
    Status: <%= booking.status %> || <%= link_to "Cancel booking", booking_path(booking.id), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</ol>
