<!-- BANNER -->
<div id="banner">
  <h1>Need technical help?</h1>
  <h4>Find someone who can actually help  <br> you and book an appointment</h4>
  <a href="/offers">
    See offers
  </a>
</div>

<!-- RECENT OFFERS -->
<div id="recent">
  <div>OFFER 1</div>
  <div>OFFER 2</div>
  <div>OFFER 3</div>
</div>

<!-- REVIEW -->
<div id="review">
  <h3>“I finally found my perfect teaching assistant”</h3>
  <h6>Batch 605 participant - Le Wagon 2021</h6>
</div>
