
<div class="offers-container flex flex-col items-center">
  <h1 class="text-xl text-bold">Browse offers</h1>


    <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a techy"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="offers-grid flex flex-row wrap justify-center content-start">
    <% @offers.each do |offer| %>
      <%= render 'components/offer_card', offer: offer %>
    <% end %>
  </div>
</div>

