
<div class='container-booking' style="display: flex; justify-content: center; margin-top: 60px; align-items: baseline">
  <div class='item-booking' style="margin-right: 25px;">
    <%= render 'components/offer_card', offer: @offer %>
  </div>

  <div class='item-booking' style='text-align: center;'>
  <%= simple_form_for [@offer, @booking] do |f| %>
    <%= f.input :booking_date, as: :string, required: true, input_html: {class: "datepicker"} %>
    <%= f.submit class: 'button button-primary' %>
  <% end %>
  </div>

</div>
