.button {
  outline: none;
  border: none;
  padding: 12px 18px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  outline: none;
  border: none;
  text-decoration: none;
  filter: contrast(1.1);
  transform: translateY(-1px);

}


.button:active {
  filter: contrast(1) brightness(1.6);
  transform: translateY(1px)
}

.button-primary {
  display: inline-block;
  color: $gray-light;
  background-color: $gray-dark;
}

.button-primary:hover {

  color: $gray-light;
  background-color: $gray-dark;

}
.button-secondary {

  color: $gray-dark;
  background-color: none;
  border: 1px solid $gray-dark;


}

.button-secondary:hover {

  padding: 11px 17px;
  border: 2px solid $gray-dark;
  color: $gray-dark;
  background-color: $gray-light;
  filter: contrast(1.1);
}



.button-text {

  color: $gray-dark;
  background-color: none;

}

.button-text:hover {
  color: $gray-dark;
  text-decoration: underline;
}

.unstyled-link:hover {
  text-decoration: none;
}