#notifications_con {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
}

.notification_con {
  width: 500px;
  max-width: 100%;
  height: 50px;

  margin: 5px;
  padding: 8px;

  background-color: white;
  border-radius: 4px;
  box-shadow: 2px 2px $gray-med;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}
