.pill {
  cursor: pointer;
  display: inline-block;
  filter: saturate(0.5)
}

.pill.hover:hover {
  filter: saturate(1) contrast(1.1);
  transform: translateY(2px);
}

.pill.selectable {
  filter: saturate(0.5) contrast(1.1)
}