// Graphical variables
@import "config/index";
@import "flatpickr/dist/flatpickr";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

body > .content {
  flex: 1;
}